
@import "flexbox.less";

@fg-color: #00D8FF;
@bg-color: darken(@fg-color, 45%);
@alt-color: darken(@fg-color, 15%);
@soft-color: darken(@fg-color, 42%);

@font-light: 100;
@font-normal: 500;
@font-heavy: 800;

body, html {
    background-color: @bg-color;
}

.fg-color { color: @fg-color; }
.bg-color { color: @bg-color; }
.alt-color { color: @alt-color; }
.soft-color { color: @soft-color; }

.page-dashboard {
    position: absolute;
}

.page-layout {
    .flex-display;
    .flex-direction(row);

    .page-left, .page-right {
        .flex(1 0 auto);
        position: relative;
    }

    .page-left.closed, .page-right.closed {
        display: none;
    }
}

.resize-container {
    position: relative;
}

.render-target {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

@cmd-line-anim: 0.1s;
@cmd-line-font-size: 12px;
@cmd-line-height: (@cmd-line-font-size + 4px);

@font-face {
    font-family: "cpunk";
    src: url("/media/OCRA.woff") format('woff');
}

.terminal, .cmd {
    font-family: 'cpunk';
    font-size: @cmd-line-font-size;
    line-height: @cmd-line-height;
}

.terminal .terminal-output div div, .cmd .prompt {
    line-height: @cmd-line-height;    
}

.diver {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    position: absolute;
    border-bottom: 2px solid @alt-color;
    -webkit-transition: height @cmd-line-anim;
    -moz-transition: height @cmd-line-anim;
    transition: height @cmd-line-anim;
}

.diver.closed {
    height: 0 !important;
}

.page-dashboard .top, .page-dashboard .bottom {
    width: 100%;
    height: 200px;
    position: absolute;
}

@glow: rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.02) 20%,
    rgba(255,255,255,0.001) 40%, rgba(255,255,255,0) 100%;

.page-dashboard .top {
    top: 0;
    background: -moz-radial-gradient(top, ellipse cover, @glow);
    background: -webkit-radial-gradient(top, ellipse cover, @glow);
    background: radial-gradient(ellipse at top, @glow);
}

.page-dashboard .bottom {
    bottom: 0;
    background: -moz-radial-gradient(bottom, ellipse cover, @glow);
    background: -webkit-radial-gradient(bottom, ellipse cover, @glow);
    background: radial-gradient(ellipse at bottom, @glow);
}