
@import "flexbox.less";
@import url(http://fonts.googleapis.com/css?family=VT323);

@fg-color: #00D8FF;
@bg-color: darken(@fg-color, 45%);
@alt-color: darken(@fg-color, 15%);
@soft-color: darken(@fg-color, 42%);

@font-light: 100;
@font-normal: 500;
@font-heavy: 800;

body, html {
    background-color: @bg-color;
}

.fg-color { color: @fg-color; }
.bg-color { color: @bg-color; }
.alt-color { color: @alt-color; }
.soft-color { color: @soft-color; }

.resize-container {
    position: relative;
}

.render-target {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

@cmd-line-anim: 0.1s;
@cmd-line-font-size: 18px;
@cmd-line-height: (@cmd-line-font-size + 4px);

.terminal, .cmd {
    font-family: 'VT323';
    font-size: @cmd-line-font-size;
    line-height: @cmd-line-height;
}

.terminal .terminal-output div div, .cmd .prompt {
    line-height: @cmd-line-height;    
}

.diver {
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;
    border-bottom: 2px solid @alt-color;
    -webkit-transition: height @cmd-line-anim;
    -moz-transition: height @cmd-line-anim;
    transition: height @cmd-line-anim;
}

.diver.closed {
    height: 0 !important;
}
