<!DOCTYPE html>
<html>
    <head>
        <title>stem-config</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
        <link rel="stylesheet" href="stylesheets/vendor/materialize/materialize.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />    
    </head>
    <body>
        <!-- utils -->
        <script src="javascripts/vendor/moment/moment.js"></script>
        <script src="javascripts/vendor/notify.js/notify.js"></script>

        <!-- graphs -->
        <script src="javascripts/vendor/d3/d3.js"></script>
        <script src="javascripts/vendor/lodash/lodash.compat.js"></script>
        <script src="javascripts/vendor/graphlib/graphlib.core.js"></script>
        <script src="javascripts/vendor/dagre/dagre.core.js"></script>
        <script src="javascripts/vendor/dagre-d3/dagre-d3.core.js"></script>

        <!-- react -->
        <script src="javascripts/vendor/react/react.js"></script>
        <script src="javascripts/vendor/reflux/reflux.js"></script>

        <!-- materialize -->        
        <script src="javascripts/vendor/jquery/jquery.js"></script>
        <script src="javascripts/vendor/materialize/materialize.js"></script>

        <!-- app loader -->
        <script src="javascripts/main-built.js"></script>
    </body>
</html>