
@import "flexbox.less";

@base-color: #69BAFF;

@fg-color: darken(@base-color, 4%);
@bg-color: darken(@base-color, 62%);
@alt-color: darken(@base-color, 10%);
@soft-color: darken(@base-color, 60%);

@font-light: 100;
@font-normal: 500;
@font-heavy: 800;

* {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.fg-color { color: @fg-color; }
.bg-color { color: @bg-color; }
.alt-color { color: @alt-color; }

html, body {
  background: @bg-color;
}

header, main, footer {
  padding-left: 310px;
}
.message-reply {
  left: 310px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .message-reply {
    left: 0;
  }
}

.selected {
  width: 12px;
  height: 12px;
  display: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid @fg-color;
}

.top-nav {
  background-color: @bg-color;
  a, h5 {
    color: @fg-color;
  }
}

.room-nav {
  margin: 0;
  padding: 0;
  display: block;
  min-height: 100%;
  position: relative;
  background-color: transparent;

  .gap {
    height: 15px;
  }

  .server {
    color: @fg-color;
    padding: 5px 5px 10px 34px !important;

    .ident svg {
      top: 10px;
      left: 0;
      width: 32px;
      height: 32px;
      position: absolute;
      * {
        stroke: @fg-color;
      }
    }
  }

  li {
    position: relative;
    padding: 10px 0 0 34px !important;
  }

  li.active, li:hover {
    background-color: transparent;
  }

  li.active {
    .selected {
      left: 15px;
      top: 14px;
      display: block;
    }
  }

  a {
    height: 30px;
    line-height: 20px;
    position: relative;
    color: @fg-color !important;
    padding: 0 !important;
  }

  svg {
    position: relative;
  }

  div.sparkline {
    right: 0;
    bottom: -5px;
  }  

  .logo {
    color: @fg-color;
    padding: 8px 0 10px 34px !important;
  }

}

.side-nav {
  background-color: @bg-color;

  .bkg {
    top: 0;
    left: 0;
    position: absolute;
    pattern * {
      stroke: @soft-color;
    }
  }

  .overview {
    top: 40px;
    left: 0;
    z-index: 1;
    padding: 0;
    width: 310px;
    position: absolute;

    div.sparkline {
      right: 0;
    }  
  }

  div.sparkline {
    position: absolute;                
    svg * {
      stroke: @fg-color;
    }
  }  
}

.message-list {
  color: @fg-color;
  table-layout: fixed;
  background: @bg-color;
  
  a {
    color: @alt-color;
  }

  td {
    padding: 0;
    border-radius: 0;
    vertical-align: top;
  }

  td.first {
    padding: 20px 5px 0 0;
  }

  .avi {
    margin: 0;
    padding: 0;
    width: 42px;
    position: relative;
    text-align: center;
    vertical-align: top;

    svg {
      top: 26px;
      right: 5px;
      height: 32px;
      width: 32px;
      position: absolute;
      * {
        stroke: @fg-color;
      }
    }
  }

  .content {
    font-weight: @font-light;
  }

  .details {
  }

  .name {
    color: @fg-color;
    padding-right: 10px;
    font-weight: @font-normal;
  }

  .when {
    font-weight: @font-light;
    color: @alt-color;
  }

  .text {
    margin: 0;
    padding: 0;
    // font-size: 0.9em;
    word-wrap: break-word;
  }

  .ago {
    float: right;
    font-size: 0.9em;
    font-weight: @font-light;
    padding-right: 5px;
    color: @alt-color;
  }

  .input {
    td {
      padding: 0;
      height: 64px;
    }
  }
}

.message-reply {
  bottom: 0;
  right: 0;
  padding: 0 10px;
  position: fixed;
  background: @bg-color;
  -webkit-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);

  .complete-list {
    li a {
      display: block;
      color: @fg-color;
      background-color: @bg-color;
    }

    li.active a {
      color: @bg-color;
      background-color: @fg-color;
    }
  }

  .input-field {
    margin-top: 0;
    color: @fg-color;
  }

  input[type=text] {
    font-weight: @font-light;
    border-bottom: 1px solid @fg-color;
  }

  input[type=text]:focus {
    border-bottom: 1px solid @alt-color;
    box-shadow: 0 1px 0 0 @bg-color;  
  }
}

.room-info {
  a {
    color: @alt-color;
  }
}

.flex-cols {
  .flex-display;
  .flex-direction(row);
  .align-items(flex-start);
}

.flex-item {
  margin: 0;
  .flex(1 0 auto);
}
