
@import "flexbox.less";

header, main, footer {
  padding-left: 310px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav {
  width: 310px;
}

.server-nav, 
.channel-nav {
  display: block;
}

.server-nav {
  width: 70px;
  a {
    padding: 0 !important;
  }
}

.channel-nav {
  width: 240px;
}

.flex-cols {
  .flex-display;
  .flex-direction(row);
  .align-items(flex-start);
}

.flex-item {
  margin: 0;
  .flex(1 0 auto);
}