
@import "flexbox.less";

header, main, footer {
  padding-left: 310px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav {
  width: 310px;
}

.server-nav, 
.channel-nav {
  display: block;
}

.server-nav {
  width: 70px;
  min-height: 100%;
  background-color: #263238;
  
  li {
    padding: 0 !important;
  }
  li.active, li:hover {
    background-color: #263238;

    svg {
      background-color: #455a64;
    }
  }

  a {
    padding: 5px 5px 0 5px !important;
  }
  
  svg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #37474f;
  }
}

.channel-nav {
  width: 240px;
  padding: 0 5px;
  min-height: 100%;
  background-color: #263238;

  .server {
    color: #fff;
    height: 64px;
    font-size: 1.5em;
    line-height: 64px;    
  }
  .server:hover {
    background-color: #263238;
  }

  li.active, li:hover {
    border-radius: 5px;
    background-color: #455a64;
  }

  a {
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: #fff !important;
  }

}

.flex-cols {
  .flex-display;
  .flex-direction(row);
  .align-items(flex-start);
}

.flex-item {
  margin: 0;
  .flex(1 0 auto);
}