<!DOCTYPE html>
<html>
    <head>
        <title>ᕕ( ᐛ )ᕗ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
        <link rel="stylesheet" href="stylesheets/vendor/nvd3/nv.d3.css" />
        <link rel="stylesheet" href="stylesheets/vendor/materialize/materialize.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />    
    </head>
    <body class="with-transitions">
        <!-- utils -->
        <script src="javascripts/vendor/moment/moment.js"></script>
        <script src="javascripts/vendor/notify.js/notify.js"></script>

        <!-- graphs -->
        <script src="javascripts/vendor/d3/d3.js"></script>
        <script src="javascripts/vendor/nvd3/nv.d3.js"></script>
        <script src="javascripts/vendor/textures/textures.min.js"></script>

        <!-- react -->
        <script src="javascripts/vendor/react/react.js"></script>
        <script src="javascripts/vendor/reflux/reflux.js"></script>

        <!-- materialize -->        
        <script src="javascripts/vendor/jquery/jquery.js"></script>
        <script src="javascripts/vendor/materialize/materialize.js"></script>

        <!-- app loader -->
        <script src="javascripts/vendor/requirejs/require.js" data-main="javascripts/main.js"></script>
        <script>window.docker = true;</script>
    </body>
</html>